/* pulsepoint.css */

body {
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
}
footer{
	text-align: center;
	font-size: 12px;
}
.navbar-collapse{
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
h1{
	text-align: center;
}
video{
	width: 100%;
	height: auto;
}
